<h1>Pirate:</h1>
    <p>
    <%=@pirate.name%><br>
    <%=@pirate.height%><br>
    <%=@pirate.weight%><br>
    </p>


<h2>Ship Details</h2>
<% @ship.each do |ship|%>
<p>
<%= ship.name%><br>
<%= ship.type%><br>
<%= ship.booty%><br>
</p>

<% end %>