<h1>
    
    name: <%= @pirate.name %>
    weight: <%= @pirate.weight %>
    height: <%= @pirate.height %>


</h1>
   
  
<% @ships.each do |ship| %>
  <h2>
    name: <%= ship.name %>
    type: <%= ship.type %>
    booty: <%= ship.booty %>
  <h2>
<% end %>
